div.header {
    font-family: "Segoe UI Light","sans-serif";
    font-size: 20.0pt;
    color:#2A2A2A;
    margin-bottom: 25px;
    margin-top: -12px;
    }
    
a {
    font-family: "Segoe UI SemiLight","sans-serif";
    font-size:11.0pt;
    color:#3366ff;

    }

table tr.Header {
    font-family: "Segoe UI Semibold","sans-serif";
    font-size:11.0pt;
    text-decoration:none;
    }

table tr td.Regular {
    height:20px;
    vertical-align:text-top;
    font-family: "Segoe UI SemiLight","sans-serif";
    font-size:11.0pt;
    text-decoration:none;
    }

table tr td.Secondary {
    height:20px;
    vertical-align:text-top;
    font-family: "Segoe UI SemiLight","sans-serif";
    font-size:11.0pt;
    color:#707070;
    text-decoration:none;
    }

div.Copyright {
    padding-top:60px;
    font-family: "Segoe UI SemiLight","sans-serif";
    font-size: 11.0pt;
    color:#1b2836;
    }

div.NoList {
    font-family: "Segoe UI Semibold","sans-serif";
    font-size:11.0pt;
    color:#1b2836;
    text-decoration:none;
    }

button {
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    }

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    
    body {
      font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
    }
    
    .toggle {
      cursor: pointer;
      display: inline-block;
    }
    
    .toggle-switch {
      display: inline-block;
      background: #ccc;
      border-radius: 16px;
      width: 58px;
      height: 32px;
      position: relative;
      vertical-align: middle;
      transition: background 0.25s;
    }
    .toggle-switch:before {
    content: "";
    background-color: rgb(42, 65, 90); color: #FFFFFF;
    }

    .toggle-switch:after {
    content: "";
    background-color: #fff; color: #000;
    text-align: right;
    }

    .toggle-switch:before {
      display: block;
      background: linear-gradient(to bottom, #fff 0%, #eee 100%);
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
      width: 24px;
      height: 24px;
      position: absolute;
      top: 4px;
      left: 4px;
      transition: left 0.25s;
      
    }
    .toggle:hover .toggle-switch:before {
      background: linear-gradient(to bottom, #fff 0%, #fff 100%);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    }
    .toggle-checkbox:checked + .toggle-switch {
      background: rgb(41, 61, 83);
    }
    .toggle-checkbox:checked + .toggle-switch:before {
      left: 30px;
    }
    
    .toggle-checkbox {
      position: absolute;
      visibility: hidden;
    }
    
    .toggle-label {
      margin-left: 5px;
      position: relative;
      top: 2px;
    }